
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* TYPOGRAPHY ADJUSTMENT */
.primary_font{
  font-family: 'Poppins', sans-serif;
}
.primary_font-size{
  font-size: 1rem;
}
.customizable-font{
  font-size: 2rem;
}
.cardTypography{
  font-size: 12px;
}
.cardTypho-name{
  font-size: 14px;
}
.navigation {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0rem;
  background-color: transparent;
  color: black;
  position: fixed;
  z-index: 10
}
.navigation-noir {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0rem;
  background-color: white;
  color: black;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;

}

.brandName {
  margin-left: 1rem;
}

.navigationMenu {
  margin-left: auto;
}
.navigationMenu-noir {
  margin-left: auto;
}

.navigationMenu ul {
  display: flex;
  padding: 0;
}
.navigationMenu-noir ul {
  display: flex;
  padding: 0;
}

.navigationMenu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigationMenu-noir li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigationMenu li a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  display: block;
  width: 100%;
  color: #fff;
  padding: 4px 10px;
}
.navigationMenu-noir li a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  display: block;
  width: 100%;
  color: #000;
  padding: 4px 10px;
}

.navigation li a::after,
.navigation li a::before {
  transition: all .5s;
}
.navigation-noir li a::after,
.navigation-noir li a::before {
  transition: all .5s;
}
.stroke li a {
  display: inline-block;
  position: relative;
}
.stroke-noir li a {
  display: inline-block;
  position: relative;
}

.stroke li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: #bd0075;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out
}
.stroke-noir li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: #bd0075;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out
}

.stroke li a:hover {
  color: #898383;
}
.stroke-noir li a:hover {
  color: #898383;
}

.stroke li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  opacity: 1;
}
.stroke-noir li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  opacity: 1;
}


.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.hero-bg{
  background: linear-gradient(69.35deg, rgba(0, 0, 0, .4)0%, rgba(0, 0, 0, .4)99.45%), linear-gradient(0deg, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("/waterman.jpg") no-repeat 10% -130%;
  height: 100vh;
  height: 100vh;
  width: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper {
  width: 100%;
  height: 100%;
  opacity: .6;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seeMore_button_text{
  color: #bd0075 !important;
  font-size: 12px !important;
  margin-bottom: -20px !important;
}
.cardMarginAdj{
  margin-top: -15px !important;
}
.cardMarginAdj-name{
  margin-top: -35px !important;
}
.cardMarginAdj-avatar{
  margin-top: -12px;
}
.date{
  font-size: 12px;
}
@media screen and (max-width: 767px) {
  .customizable-font{
    font-size: 1rem;
  }
  .mobile_font{
    font-size: 0.79rem;
  }
  .hamburger {
    display: block;
  }
  .current-color{
    color: #fff;
  }
  .current-color-noir{
    color: #000;
  }

  .navigationMenu ul {
    display: none;
  }
  .navigationMenu-noir ul {
    display: none;
  }

  .navigationMenu ul {
    position: absolute;
    top: 60px;
    padding-bottom: 20px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-top: 1px solid black;
  }
  .navigationMenu-noir ul {
    position: absolute;
    top: 60px;
    padding-bottom: 20px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-top: 1px solid black;
  }

  .navigationMenu li {
    text-align: center;
    margin: 0;
  }
  .navigationMenu-noir li {
    text-align: center;
    margin: 0;
  }
  .navigationMenu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigationMenu-noir li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigationMenu li:hover {
    background-color: #eee;
  }
  .navigationMenu-noir li:hover {
    background-color: #eee;
  }

  .navigationMenu.expanded ul {
    display: block;
    z-index: 1;
  }
  .navigationMenu-noir.expanded ul {
    display: block;
    z-index: 1;
  }
  .swiper-slide:first-child {
    transition: transform 100ms;
  }

  .swiper-slide:first-child img {
    transition: box-shadow 500ms;
  }

  .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
  }

  .swiper-slide.swiper-slide-active:first-child img {
    box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
  }

  .swiper-slide:nth-child(2) {
    transition: transform 100ms;
  }

  .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
    transform: translateX(-50%);
  }

  .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
    transform: translateX(-55%);
  }
  .customCarouselPadding {
    margin-left: 20px;
    margin-right: 20px;
  }
}
/* @media screen and (min-width: 393px) and (max-width:720px){
  .hero-bg{
    height: 85vh;
  }
} */
@media screen and (max-width: 415px){
  .customCarouselPadding{
    padding-top: 65vh;
  }
}
@media(width: 414px) {
  .customCarouselPadding{
    padding-top:50vh;
  }
}
@media (width: 375px) {
  .customCarouselPadding{
    padding-top:50vh !important;
  }
}
@media (width: 360px) {
  .customCarouselPadding{
    padding-top:50vh !important;
  }
}

  @media (height: 896px) {
    .customCarouselPadding{
      padding-top:60vh;
    }
}